@inherits LayoutComponentBase

    <div class="page">
        <div class="main">
            <div class="top-row px-4 auth">
                <NavLink style="margin-right:auto" href="" class="nav-tab" Match="NavLinkMatch.All">
                    <RadzenIcon Icon="home" />
                </NavLink>
                <LoginDisplay />
            </div>

            <div class="content px-4">
                @Body
            </div>
        </div>
    </div>